<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitchmanagement.dao.BillDao">
    <insert id="insertBill" parameterType="com.pitchmanagement.model.request.BillRequest">
        INSERT INTO bill (create_at, note, pitch_booking_id)
        VALUES (#{createAt}, #{note}, #{pitchBookingId});
    </insert>

    <select id="selectBillDayByMonth" parameterType="map" resultType="com.pitchmanagement.dto.admin.BillDayDto">
        SELECT
        DAY(b.create_at) AS day_of_month,
        SUM(pt.price) AS total_price
        FROM bill b
        INNER JOIN pitch_booking pb ON pb.id = b.pitch_booking_id
        INNER JOIN pitch p ON pb.pitch_time_pitch_id = p.id
        INNER JOIN time_slot ts ON pb.pitch_time_time_slot_id = ts.id
        INNER JOIN user u ON pb.user_id = u.id
        INNER JOIN pitch_time pt ON p.id = pt.pitch_id AND ts.id = pt.time_slot_id
        WHERE MONTH(b.create_at) = #{month} AND YEAR(b.create_at) = #{year}
        GROUP BY DAY(b.create_at)
        ORDER BY DAY(b.create_at);
    </select>
    
    <select id="selectBillPitchByMonth" parameterType="map" resultType="com.pitchmanagement.dto.admin.BillPitchDto">
        SELECT
        p.id,
        p.name AS name_pitch,
        SUM(pt.price) AS total_price
        FROM bill b
        INNER JOIN pitch_booking pb ON pb.id = b.pitch_booking_id
        INNER JOIN pitch p ON pb.pitch_time_pitch_id = p.id
        INNER JOIN time_slot ts ON pb.pitch_time_time_slot_id = ts.id
        INNER JOIN user u ON pb.user_id = u.id
        INNER JOIN pitch_time pt ON p.id = pt.pitch_id AND ts.id = pt.time_slot_id
        WHERE MONTH(b.create_at) = #{month} AND YEAR(b.create_at) = #{year}
        GROUP BY p.id,p.name
        ORDER BY p.id, p.name;
    </select>
</mapper>