<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitchmanagement.dao.BookingDAO">

    <select id="selectById" parameterType="int"  resultType="com.pitchmanagement.dto.PitchBookingDTO">
       SELECT  pb.id,
                pb.create_at as createAt,
                pb.update_at as updateAt,
                pb.status,
                pb.note,
                pb.user_id as userId,
                pt.price,
                pt.pitch_id as pitchId,
                pt.time_slot_id as timeSlotId,
                p.name as pitch_name as pitchName,
                p.address,
                pt1.name as type,
                ts.start_time as startTime,
                ts.end_time as endTime
                FROM pitch_booking pb
                    join pitch_time pt on pb.pitch_time_pitch_id = pt.pitch_id and pb.pitch_time_time_slot_id = pt.time_slot_id
                    Join pitch p on p.id = pb.pitch_time_pitch_id
                    join pitch_type pt1 on p.pitch_type_id = pt1.id
                    join time_slot ts on pt.time_slot_id = ts.id
        where pb.id  = #{id} 
    </select>

    <select id ="SelectByUser" parameterType="map" resultType="com.pitchmanagement.dto.PitchBookingDTO">
        SELECT  pb.id,
        pb.create_at as createAt,
        pb.update_at as updateAt,
        pb.status,
        pb.note,
        pb.user_id as userId,
        pt.price,
        pt.pitch_id as pitchId,
        pt.time_slot_id as timeSlotId,
        p.name as pitchName,
        p.address,
        pt1.name as type,
        ts.start_time as startTime,
        ts.end_time as endTime
            FROM pitch_booking pb
                join pitch_time pt on pb.pitch_time_pitch_id = pt.pitch_id and pb.pitch_time_time_slot_id = pt.time_slot_id
                Join pitch p on p.id = pb.pitch_time_pitch_id
                join pitch_type pt1 on p.pitch_type_id = pt1.id
                join time_slot ts on pt.time_slot_id = ts.id
            where pb.user_id = #{user_id} and pb.status like #{status}
            ORDER by pb.create_at DESC
    </select>

    <select id="total" parameterType="map" resultType="int">
        Select COUNT(id) from pitch_booking where user_id = #{user_id} and status like #{status} group by user_id
    </select>

    <insert id = "insert" useGeneratedKeys="true" parameterType = "com.pitchmanagement.model.request.BookingRequest" >
        insert into pitch_booking 
                (status,
                note,
                pitch_time_pitch_id,
                pitch_time_time_slot_id,
                user_id) 
        value(#{status},#{note},#{pitchId},#{timeSlotId},#{userId}) 
    </insert>
    <update id = "update" parameterType = "com.pitchmanagement.model.request.BookingRequest">
        UPDATE pitch_booking
            SET
            update_at = #{updateAt},
            status = #{status},
            note = #{note},
            pitch_time_pitch_id = #{pitchId},
            pitch_time_time_slot_id = #{timeSlotId}
            WHERE id = #{id}
    </update>
</mapper>