<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitchmanagement.dao.ImageDao">

    <select id="getImageByEditPitchId" parameterType="int" resultType="com.pitchmanagement.dto.admin.EditPitchImageDto">
        SELECT
        id,
        name
        FROM image
        WHERE pitch_id = #{pitchId}
    </select>

    <select id="getImageByPitchId" parameterType="Long" resultType="com.pitchmanagement.dto.ImageDto">
        SELECT
            id,
            name
        FROM image
        WHERE pitch_id = #{pitchId}
    </select>

    <select id="getImageById" parameterType="Long" resultType="com.pitchmanagement.dto.ImageDto">
        SELECT
        id,
        name
        FROM image
        WHERE id = #{id}
    </select>

    <insert id="insertImage" parameterType="com.pitchmanagement.model.request.ImageRequest">
        INSERT INTO `image` (`name`, `pitch_id`)
        VALUES (#{name}, #{pitchId});
    </insert>

    <delete id="deleteImage" parameterType="Long">
        DELETE FROM `image`
        WHERE  `id`= #{id};
    </delete>
</mapper>