<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitchmanagement.dao.PitchDao">

    <insert id="insertPitch" parameterType="com.pitchmanagement.model.request.PitchRequest">
        INSERT INTO `pitch` (`name`, `address`, `create_at`, `pitch_type_id`)
        VALUES (#{name}, #{address}, #{createAt}, #{pitchTypeId});
    </insert>

    <select id="selectPitchAll" resultType="com.pitchmanagement.dto.admin.PitchDto">
        SELECT p.id, p.name, address, create_at, update_at, pt.name AS `type`
        FROM pitch AS p
        INNER JOIN pitch_type AS pt ON pt.id = p.pitch_type_id
    </select>
</mapper>